* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --r-main-font-size: 1.6rem;
  --r-main-font: 'Inter', sans-serif;
  --r-heading-font: var(--r-main-font);
  --r-heading-font-weight: 700;
  --r-heading-text-transform: normal;
  --r-link-color: #c5c8c6;
  --r-link-color-hover: #b294bb;
  --border-radius: 5px;
  --font-color: #fff;
  --background-color-name: #fff;
  --r-code-font: "JetBrains Mono", monospace;
  --code-background-darker: #353535;
  --code-font-color: #c5c8c6;
  --code-keyword-color: #b294bb;
  --code-string-color: #b5bd68;
  --code-variable-color: #f0c674;
  --code-comment-color: #969896;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--r-main-font);
  color: var(--font-color);
}

.images {
  height: 450px;
  border-radius: var(--border-radius);
}

.container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  color: var(--font-color);
}

.reveal .slides {
  text-align: left;
  padding: 20px;
}

.reveal .slide-background {
  background-size: 100% 100%;
  background-position: 0 0;
  background-image: 
    radial-gradient(40% 30% at 110% 0%, #8a3b7530 0%, #00000000 100%),
    radial-gradient(40% 20% at 40% 0%, #5d5184ff 0%, #00000000 100%),
    radial-gradient(40% 40% at 0% 100%, #5d5184ff 1%, #00000000 100%),
    radial-gradient(142% 91% at 111% 84%, #2a0134ff 0%, #1a1a1aff 100%);
}

.reveal .slides {
  text-align: left;
}

.section-title {
  padding-bottom: 10px;
}

.section-title .name {
  color: var(--code-background-darker);
  font-size: 1.3rem;
  padding: 8px 12px;
  margin-bottom: 15px;
  display: inline-block;
  border-radius: var(--border-radius);
  background: var(--background-color-name);
}

.profile-container {
  display: flex;
  margin-right: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.about-me-div {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
}

.about-me-div span {
  gap: 15px;
  display: flex;
  margin-top: 5px;
  list-style-type: none;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me-links div {
  gap: 15px;
  display: flex;
  align-items: center;
}

.about-me-links a {
  margin: 15px;
  font-weight: bold;
  text-decoration: none;
  color: var(--r-link-color);
}

.about-me-links a:hover {
  text-decoration: underline;
}

.icon-about-me{
  width: 40px;
  height: 40px;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.lists {
  gap: 10px;
}

.lists p {
  opacity: 70%;
  font-size: 22px;
  margin: 8px 0 20px;
  color: var(--font-color);
}

.content {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content > img {
  height: auto;
  max-width: 100%;
  border-radius: var(--border-radius);
}

.video {
  height: 450px;
  margin-top: 10px;
  border-radius: var(--border-radius);
}

.code pre {
  font-size: 16px; 
  color: var(--code-font-color);
  margin-top: 10px;
}

.code code {
  font-size: 16px; 
  font-family: var(--r-code-font);
  border-radius: var(--border-radius);
}

.container-disclaimer {
  gap: 50px;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-disclaimer img {
  height: 200px;
  border-radius: var(--border-radius);
}

.lists-disclaimer li {
  padding: 5px;
}

.QRCode {
  width: 450px;
}

blockquote {
  padding: 10px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  border-left: 5px solid var(--r-link-color-hover);
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .profile {
    width: 200px;
    height: 200px;
  }

  .about-me-links {
    flex-direction: column;
    align-items: center;
  }

}
